<section class="section banner banner-section">
  <div class="container auth">
    <div class="wrapper">
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Olvide mi contraseña / Forgot password</h3>

            <div class="formGroup">
              <label>Email</label>
              <input
                #passwordResetEmail
                required
                type="email"
                placeholder="miemail@example.com"
              />
            </div>
            <div class="formGroup">
              <button
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Restaurar contraseña / reser password
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
