<section class="section banner banner-section">
  <div class="container auth">
    <div class="wrapper">
      <h1>Forgot password</h1>
      <mat-form-field class="formGroup" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          #passwordResetEmail
          required
          type="email"
          placeholder="miemail@example.com"
        />
      </mat-form-field>

      <div class="formGroup">
        <button
          mat-raised-button
          color="primary"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        >
          Reset password
        </button>
      </div>
    </div>
  </div>
</section>
