<section class="section banner banner-section">
  <div class="container auth">
    <div class="wrapper">
      <h1>Sign Up</h1>
      <mat-form-field class="formGroup" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          #userEmail
          required
          type="email"
          placeholder="miemail@example.com"
        />
      </mat-form-field>
      <mat-form-field class="formGroup" appearance="outline">
        <mat-label>Contraseña / password</mat-label>
        <input matInput #userPwd required type="password" />
      </mat-form-field>

      <div class="formGroup">
        <button
          mat-raised-button
          color="primary"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        >
          Sing Up
        </button>
      </div>
      <div class="redirectToLogin">
        <p>
          Do you already have an account?
          <a class="redirect" routerLink="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</section>
