<section class="section banner banner-section">
  <div class="container">
    <div class="wrapper">
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <h1>Registrarse</h1>

            <div class="formGroup">
              <label>Email</label>
              <input
                #userEmail
                required
                type="email"
                placeholder="miemail@example.com"
              />
            </div>
            <div class="formGroup">
              <label>Contraseña / Password</label>
              <input #userPwd required type="password" />
            </div>
            <div class="formGroup">
              <button
                (click)="authService.SignUp(userEmail.value, userPwd.value)"
              >
                Registrarme / Sing Up
              </button>
            </div>
          </div>
          <div class="redirectToLogin">
            <p>
              ¿Ya tienes una cuenta? / Do you already have an account?
              <a class="redirect" routerLink="/login">Inicias Sesión / Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
