<mat-toolbar color="primary">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <mat-icon>insert_photo</mat-icon>
      <span>My CV</span>
    </a>
  </div>
  <div class="menu-container">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/my-account" *ngIf="loggedIn">My Account</a>
      <a mat-menu-item routerLink="/edit-cv" *ngIf="loggedIn">Edit CV</a>
      <a mat-menu-item routerLink="/new-cv" *ngIf="loggedIn">New CV</a>
      <a mat-menu-item routerLink="/cvs" *ngIf="loggedIn">CVS</a>
      <a mat-menu-item routerLink="/rauth/egistrarse" *ngIf="!loggedIn"
        >Registrarse</a
      >
      <a mat-menu-item routerLink="/auth/login" *ngIf="!loggedIn"
        >Iniciar sesión</a
      >
      <button mat-menu-item (click)="logout()" *ngIf="loggedIn">
        Cerrar sesión
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container"><router-outlet></router-outlet></div>

<div class="loader" *ngIf="utilsService.loading.asObservable() | async">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
  </div>
</div>
